===============
Unity generated
===============
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Vive_SpyGame/Assets/SteamVR/Extras/SteamVR_TestIK.unity
Vive_SpyGame/Assets/SteamVR/Extras/SteamVR_TestIK.unity.meta
Vive_SpyGame/Assets/SteamVR/Extras/SteamVR_TestThrow.unity
Vive_SpyGame/Assets/SteamVR/Extras/SteamVR_TestThrow.unity.meta
Vive_SpyGame/Assets/SteamVR/Scenes/example.unity
Vive_SpyGame/Assets/SteamVR/Scenes/example.unity.meta
